.Subtitulo{
    color: red;
}

img{
    image-orientation: center;
    height: 200px;
}

.Meio{
    text-align: center;
    background:rgb(136, 105, 111);
}

.foto.jpg{
    text-align: center;
    border: indigo; 
}


.quemSomos{
    align-items: center;
    background-color: aqua;
}